@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  /* on larger screens align the navigation menu on the middle of x-axis by default */
  #navigation {
    left: 50%;
    transform: translateX(-50%);
  }
  /* for larger screens, make the login section always visible  */
  #login {
    display: block;
  }
}
@media (max-width: 768px) {
  /* for smaller screen, always hide the login text */
  #login-text {
    display: none;
  }
  #navigation {
    height: 100vh;
  }
}

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 600;
  font-style: bold;
}
